*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.main_box{
    width: 30rem;
    height: 15rem;
    background-color: rgb(6, 6, 53);
    padding-top: 1.5rem;
    padding-left: 2rem;
    margin-top: 5rem;
    margin-left: 10rem;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    
}
.first_layer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
}


.first_layer .box_1{
    width: 15rem;
    height: 6rem;
    background-color: orangered;
}
.first_layer .box_2{
    width: 6rem;
    height: 6rem;
    background-color: yellow;
}
.second_layer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: .5rem;
} 

.second_layer .box_3{
    width: 11rem;
    height: 6rem;
    background-color: green;
}

.sec{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-right: 16.5rem;
    width: 5rem;
    /* padding-left: 1rem; */
}
.sec .box_4{
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(90, 90, 248);
    margin-right: .2rem;
}
.sec .box_5{
    width: 10rem;
    height: 3rem;
    background-color: rgb(90, 90, 248);
}